* button, * input{
	outline: none !important;
}
.container{
	max-width: 1424px !important;
}
.jcsb{
	justify-content: space-between;
}
.jcsa{
	justify-content: space-around;
}
.aic{
	align-items: center;
}
.m0a{
	margin: 0 auto;
}
.ttu{
	text-decoration: underline;
}
.dn{
	display: none !important;
	animation-duration: 1s;
	animation-name: opacity10;
}
.db{
	display: block !important;
	animation-duration: 1s;
	animation-name: opacity01;
}
@keyframes opacity01 {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes opacity10 {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
ul li {
	list-style: none;
}
a{
	text-transform: none;
	color: #000;
}
body{
	font-family: Gilroy-Regular;
	background: #E5E5E5;
}
header{
	height: 64px;
	width: 100%;
}
.mainpage{
	padding-top: 20px;
	height: 900px;
	background-image: url(../img/Background_header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	max-width: 1730px;
}
header ul li+li{
	margin-left: 55px;
}
nav{
	height: 64px;
	align-items: center;
}
.location{
	position: relative;
	top: -1px;
	left: -4px;
}
.ordercall{
	line-height: 1.1;
	text-align: right;
}
.ordercall .phone{
	font-size: 22px;
	font-family: Gilroy-Bold;   
	color: #fff;
}
.ordercall .order{
	text-decoration: underline;
	color: #fff;
}

.centermain p{
	line-height: 23px;
}
.centermain a{
	color: rgba(255, 255, 255, 0.6);
}
.mybtn{
	padding: 5px 20px 0 20px;
	font-size: 30px;
	color: #fff;
	align-items: center;
	background: #C60000;
	text-align: center;
	margin-left: 15px;
}
.porfoliobtn{
	font-size: 30px;
	color: rgba(255, 255, 255, 0.6);
	margin-left: 60px;
}
.centermain h6{
	margin: 150px 0 18px 0;
}
.centermain p{
	margin: 18px 0 86px 0;
}
.second h1{
	white-space: nowrap;
	margin-left: -15px;
}
.second h1 span{
	background: #C60000;
	color: #fff;
	font-family: Gilroy-Bold;
}
.second h6{
	margin: 138px 0 18px -15px;
	white-space: nowrap;
} 
.second h1, .wrapper h5{
	font-family: Gilroy-Bold;
}
.block-1, .block-2, .block-3, .block-4{
	background-repeat: no-repeat;
	margin-top: 80px;
}
.block-1,.block-2,.block-3,.block-4{
	width: 50%;
}
.second .block-1{
	background-image: url(../img/01.png);
}
.second .block-2{
	background-image: url(../img/02.png);
}
.second .block-3{
	background-image: url(../img/03.png);
}
.second .block-4{
	background-image: url(../img/04.png);
}
.second .wrapper{
	margin-top: 50px;
}
.freeconsult{
	white-space: nowrap;
	margin: 70px 0 130px -15px;
}
.freeconsult a{
	color: #C60000;
	font-family: Gilroy-Bold;
	text-decoration: underline;
}
/*animations*/
.problems_bg{
	max-width: 1730px;
	max-height: 1050px;	
}
.problems_inner,.problems_bg{
	background-color: #fff;
}
.anim2{
}
.scr1, .scr2, .scrx{
	position: relative;	
}
.scr1{
	top: 404px;
	z-index: 10;
	transform: scale(1.1);
}
.scr2{
	z-index: 12;
	top: -160px;
	left: 87px;
	transform: scale(0.95);
}
.scrx{
	z-index: 11;
	top: 50px;
	transform: scale(0.9) rotate(-33deg);
}
.scr1_anim{
	animation-name: scr1_anim;/
}
.scr2_anim{
	animation-name: scr2_anim;
}
.scrx_anim{
	animation-name: scrx_anim;
}
.anim_sets{
	animation-duration: 6s;
	animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
@keyframes scr1_anim{
	50%{
		transform: scale(0.95);
		transition: 3s;
	}
	100%{
		transform: scale(1.1);
		transition: 3s;
	}
}
@keyframes scr2_anim{
	50%{
		transform: scale(1.05);
		transition: 3s;
	}
	100%{
		transform: scale(0.95)
		transition: 3s;
	}
}
@keyframes scrx_anim{
	50%{
		transform: scale(1.05) rotate(0deg);
		transition: 3s;
	}
	100%{
		transform: scale(0.9) rotate(-33deg);
		transition: 3s;
	}
}
.part{
	display: inline-block;
	position: relative;
}
.defsets{
	position: relative;
	display: inline-block;
}
.parts_bg {
	z-index: 0;
	top: 79px;
	left: -297px;

/*    animation-duration: 6s;
	animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;*/
}
.parts_bg-anim{
	animation-name:parts-anim;
}
.bg_part-1anim{
	animation-name:bg_part1-anim;
}
.bg_part-1{
	top: -566px;
	left: 222px;
}
.bg_part {
	z-index: 3;
}
.bg_part-2anim{
	animation-name:bg_part2-anim;
}
.bg_part-2 {
	top: -1164px;
	left: -213px;
}
.phone_part {
}
.phone_part-1anim{
	animation-name:part1-anim;
}
.phone_part-1 {
	z-index: 4;
	top: -1570px;
	left: 175px;
}
.phone_part-2anim{
	animation-name:part2-anim;
}
.phone_part-2 {
	z-index: 5;
	top: -1916px;
	left: -239px;
}
@keyframes parts-anim{
	50%{
		transform: translate(100px);
	}
	100%{
		transform: translate(0px);
	}
}
@keyframes bg_part1-anim{
	50%{
		transform: translate(0 ,-20px);
	}
	100%{
		transform: translate(0, 0px);
	}
}
@keyframes bg_part2-anim{
	50%{
		transform: translate(-20px, -20px);
	}
	100%{
		transform: translate(0,0);
	}
}
@keyframes part1-anim{
	50%{
		transform: translate(-10px ,20px);
	}
	100%{
		transform: translate(0,0);
	}
}
@keyframes part2-anim{
	50%{
		transform: translate(-10px);
	}
	100%{
		transform: translate(0,0);
	}
}
.works_bg{
	max-width: 1730px;
	background-color: #1C1C1C;
}
.works_inner {
}
.works_inner a{
	text-decoration: none;
	color: rgba(255,255,255,70%);
}
.works_inner h6{
	color: #fff;
}
.works__title{
	color:#fff;
	background-color: #C60000;
	display: inline-block;
	margin-top: 75px;
}

.first_block {
	padding: 60px 0 90px;
}
.first_block img{
	max-width: 100%;
	max-height: 395px;
}
.first_block h6{
	font-size: 30px;
	font-weight: 700;
}
.resource {
	color: rgba(255,255,255,40%);
	margin-top: 13px;
}
.scnd_block{
	padding-bottom: 90px;
}
.scnd_block img{
	width: 100%;
	object-fit: cover;
}
.scnd_block .scnd_block-info div{
	width: 50%;
	display: inline-block;
	float: left;
}
.scnd_block-info{
	display: flex;
	align-items: center;
}
.scnd_block span{
	font-size: 20px;
}
.scnd_block h6{
	font-size: 48px;
	font-weight: 700;
}
.scnd_block p{
	width: 50%;
	display: inline-block;
	float: left;
}
.resource_big {
}
.thrd_block {
	padding-bottom: 90px;
}
.thrd_block > h6{
	font-weight: 700;
}
.thrd_block  .col-6  h6{
	font-size: 30px;
	font-weight: 700;
}
.thrd_block .col-6  p {
	font-size: 20px;
}
.thrd_block img{
	max-width: 100%;
	height: 395px;
}
.fourth_block{
	padding-bottom: 57px;
}
.fourth_block h6{
	font-weight: 700;
}
.fourth_block .col-6 h6{
	font-size: 30px;
}
.fourth_block img{
	height: 395px;
	max-width: 100%;
}
.watch__more{
	color: #fff;
	width: 204px;
	display: block;
	padding-bottom: 69px;
	margin: 0 auto;
	user-select: none;
}
.watch__more:hover{
	text-decoration: underline;
	cursor: pointer;
}
.dropdown__menu{
	min-height: 300px;
	background-color: #1C1C1C;
}
.pricelist_background {
	max-width: 1730px;
	background-color: #fff;
}
.pricelist {
	color: 	#333;
}
.pricelist > p{
	padding-top: 100px;
	margin-bottom: 18px;
	font-weight: 700;
}
.pricelist h2{
	font-size: 62px
}
.pricelist h2 span{
	color: #fff;
	background-color: #C60000;
}
.pricelist h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px !important;
}
.list {
	padding-top: 66px;
	padding-bottom: 100px;
}
.list div{
}
.list div h3{
	color:#fff;
	background-color: #C60000;
	display: inline-block;
	margin-bottom: 15px;
}
.cost {
	border-top: 1px solid #E0E0E0;
	padding-top: 34px;	
	font-size: 25px;
}
.cost span{
	font-size: 57px;
	font-weight: 700;
}
.description {
	padding-top: 18px;
	height: 130px;
}
.order_btn {
	text-align: center;
	background-color: #C60000;
	color: #fff;
	display: block;
	height: 60px;
	line-height: 60px;
}
.order_btn:hover{
	background-color: #439FDB;
	color: #fff;
	text-decoration: underline;
}
/*47n58*/
.order__img-wrap{
	background: url(../img/animations/Untitled-1.png) 0 bottom no-repeat;
	transition: background 0.2s ease;
	max-height: 272px;
	/*background-size: contain;*/
	background-size: contain;
	display: flex;
	justify-content: center;
	transition: 1s;
}
.order__img-wrap-hover{
	background: url(../img/animations/Untitled-2.png) 0 bottom no-repeat;
	background-size: contain !important;
	transition: 1s;
}

.order__img {
	max-width: 100%;
	position: relative;
	/*left: 28px;*/
}
.dev-stages_bg {
	height: 988px;
	max-width: 1730px;
	background-color: #1C1C1C;
}
.dev-stages {
	color: #fff;
}
.dev-stages > p{
	padding-top: 100px;
}
.stages_title img{
	display: inline-block;
	max-width: 100%;
}
.stages_title h3{
	display: inline-block;
	padding-left: 10px;
	line-height: 60px;
	font-size: 62px;
	margin: 0;
	white-space: nowrap;
}
.stages_slider{
	padding-top: 78px;
}
.stage_img {
	max-width: 100%;
}
.stage_info {
	background-color: #fff;
	color: #000
}
.slider_stage {
	color: #E0E0E0;
	text-transform: uppercase;
	font-size: 29px;
	padding: 71px 0 29px 50px;
}
.slider_title {
	font-size: 29px;
	font-weight: 700;
	padding: 0 0 19px 50px;
}
.slider_text {
	max-width: 100%;
	padding: 0 50px;
}
.our_company_bg {
	max-width: 1730px;
	background-color: #fff;
}
.about-us {
	color: #000
}
.about-us > h3{
	color: #fff;
	font-size: 69px;
	font-weight: 700;
	display: inline-block;
	background-color: #C60000;
	padding-right: 30px;
	margin: 100px 0px 91px;
}
.about-us_info h6{
	font-size: 29px;
	font-weight: 700;
	margin-top: 40px;
}
.about-us_info h6 span{
	color: #C60000
}
.contact_us {
	font-weight: 700;
	font-size: 40px;
	color: #C60000;
	text-decoration: none;
}
.contact_us:hover{
	text-decoration: underline;
	color: #C60000;
}
.certificates{
	display: flex;
	justify-content: center;
}
.image-link img{
	width: 140px;
}
.mfp-img{
	width: 500px !important;
}
.about-us_info{
	display: flex;
	align-items: center;
}
.our_team {
	margin: 166px 0 118px;			
}
.our_team h3{
	font-weight: 700;	
	font-size: 69px;	
	color: #000;
	padding-bottom: 71px;
}
.our_team h3 span{
	color: 	#fff;
	padding-right: 30px;	
	background-color: #C60000;
}
.member_status {
	color: 	rgba(31,31,31,60%);
	margin: 0;	
}
.member_name {
	font-size: 24px;	
	font-weight: 700;
	margin: 0;	
}
.owl-prev{
	display: none !important;
}
.owl-next{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #fff !important;
	overflow: none !important;
	border:none !important;
}
.owl-next span{
	color: #000
}
.owl-next:active, .owl-next:hover,.owl-next:focus{
	overflow: none !important;
	border:none !important;
}
.owl-nav{
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -692px;
}
.our_team .owl-next{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #1c1c1c !important;
	/*position: absolute;
	top: 10px;
	left: 100px;*/
}
.our_team .owl-next span{
	color: #fff;
}
.our_team .owl-nav{
	top: -745px;
}
.owl-next:hover{
	background-color: #c60000 !important;
}
.footer_background{
	background-repeat: no-repeat;
	max-width: 1730px;
}
.footer{
	height: 728px;
	color: rgba(255, 255, 255, 0.6);
}
.footer a{
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}
.footer a:hover{
	text-decoration: underline;
}
.footer h3{
	padding-top: 90px;
	
	color: #fff;
}
.footer h3 span{
	background: #C60000;
}
.contact_number {
	margin-top: 109px;
	margin-left: 0px;
	height: 60px; 
	max-width: 791px;
	color:#333;
	font-size: 26px;
	font-weight: 700;
}
.footer_info {
	margin-top: 137px;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	padding-top: 50px;
}
.social_bar{
}
.social {
	display: inline-block;
}
.call_me_btn{
	background-color: #C60000;
	font-size: 30px;
	color: #fff;
	border:none;
}
.call_me_btn:hover{
	text-decoration: underline;
}
.fourth__block-adaptive{
	display: none;
}
.enter__phone{
	width: 100%;
	height: 60px;
}
.scrollit{
	position: absolute;
	top: 27%;
	left: 2%;
}



/*adaptation*/
.a-dn{
	display: block;
}
.a-db{
	display: none;
}
.a-dn-m{
	display: block;
}
.a-db-m{
	display: none;
}

.menubtn{
	margin-left: 35px;
}
.a-menu{
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 100;
	display: none;
}
.a-menu ul{
	background-color: #000;
	padding-bottom: 1rem;
	margin: 0;
}
.a-menu hr{
	background: #fff;
	margin-left: -40px;
}
.a-menu a{
	font-size: 25px;
	color: #fff;	
}
.a-menu_white{
	padding: 30px 30px 30px 50px;
	background: #fff;
}
.a-menu_white img{
	width: 90px;
	filter: drop-shadow(3.54102px 8.18px 50.4595px rgba(0, 0, 0, 0.25));
}
.a-menu_white a{
	color: #000;
}
.a-menu_white .mybtn a{
	color: #fff;
}
.menubtn{
	background-image: url(../img/menu.svg);
	background-repeat: no-repeat;
	width: 54px;
	height: 36px;
}
.menubtnclose{
	margin-left: 35px;
	background-image: url(../img/menuclose.svg);
	background-repeat: no-repeat;
	width: 23px;
	height: 36px;
}