.container{
	max-width: 1424px !important;
}
.jcsb{
	justify-content: space-between;
}
.aic{
	align-items: center;
}
.m0a{
	margin: 0 auto;
}
.no_padd{
	padding: 0;
}
ul li {
	list-style: none;
}
a{
	text-transform: none;
	color: #000;
}
body{
	font-family: Gilroy-Regular;
	background: #E5E5E5;
}
header{
	height: 64px;
	width: 100%;
}
.mainpage{
	padding-top: 20px;
	height: 900px;
	/*background-image: url(../img/animations/Background-header.png);*/
	background-repeat: no-repeat;
	background-position: center;
}
header ul li+li{
	margin-left: 55px;
}
nav{
	height: 64px;
	align-items: center;
}
.ordercall{
	line-height: 1.1;
	text-align: right;
}
.ordercall .phone{
	font-size: 22px;
	font-family: Gilroy-Bold;   
}
.ordercall .order{
	text-decoration: underline;
}

.centermain p{
	line-height: 23px;
}
.centermain a{
	color: rgba(255, 255, 255, 0.6);
}
.mybtn{
	padding: 5px 20px 0 20px;
	font-size: 30px;
	color: #fff;
	align-items: center;
	max-width: 391px;
	height: 60px;
	background: #C60000;
}
.porfoliobtn{
	font-size: 30px;
	color: rgba(255, 255, 255, 0.6);
	margin-left: 60px;
}
.centermain h6{
	margin: 150px 0 18px 0;
}
.centermain p{
	margin: 18px 0 86px 0;
}
.second h1 span{
	background: #C60000;
	color: #fff;
	font-family: Gilroy-Bold;
} 
.second h1, .wrapper h5{
	font-family: Gilroy-Bold;
}
.block-1, .block-2, .block-3, .block-4{
	background-repeat: no-repeat;
	margin-top: 80px;
}
.second .block-1{
	background-image: url(../img/01.png);
}
.second .block-2{
	background-image: url(../img/02.png);
}
.second .block-3{
	background-image: url(../img/03.png);
}
.second .block-4{
	background-image: url(../img/04.png);
}
.second .wrapper{
	margin-top: 50px;
}
.freeconsult{
	margin: 70px 0 130px 0;
}
.freeconsult a{
	color: #C60000;
	font-family: Gilroy-Bold;
	text-decoration: underline;
}
/*animations*/
.problems_bg{
	max-width: 1730px;
}
.problems_inner,.problems_bg{
	background-color: #fff;
}
.anim2{
}
.scr1, .scr2, .scrx{
	position: relative;	
}
.scr1{
	top: 404px;
	z-index: 10;
	transform: scale(1.1);
}
.scr2{
	z-index: 12;
	top: -160px;
	left: 87px;
	transform: scale(0.95);
}
.scrx{
	z-index: 11;
	top: 50px;
	transform: scale(0.9) rotate(-33deg);
}
.scr1_anim{
	animation-name: scr1_anim;/
}
.scr2_anim{
	animation-name: scr2_anim;
}
.scrx_anim{
	animation-name: scrx_anim;
}
.anim_sets{
	animation-duration: 6s;
	animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
@keyframes scr1_anim{
	50%{
		transform: scale(0.95);
		transition: 3s;
	}
	100%{
		transform: scale(1.1);
		transition: 3s;
	}
}
@keyframes scr2_anim{
	50%{
		transform: scale(1.05);
		transition: 3s;
	}
	100%{
		transform: scale(0.95)
		transition: 3s;
	}
}
@keyframes scrx_anim{
	50%{
		transform: scale(1.05) rotate(0deg);
		transition: 3s;
	}
	100%{
		transform: scale(0.9) rotate(-33deg);
		transition: 3s;
	}
}
.part{
	display: inline-block;
	position: relative;
}
/*.part_1 {
	top: -323px;
	left: 620px;
}
.part_2 {
	top: -139px;
	left: 1448px;
}
.part_3 {
	top: -356px;
	left: 694px;
}
.part_4 {
	top: 0px;
	left: 0px;
}
.part_5 {
	top: -336px;
	left: 1235px;
}
.part_6 {
	top: -202px;
	left: 331px;
}
.part_7 {
	top: -428px;
	left: 1257px;
}
.part_8 {
	top: -485px;
	left: 345px;

}
.part_9 {
	top: -359px;
	left: 233px;
}
.part_10 {
	top: -325px;
	left: 1124px;
}
.part_11 {
	top: -544px;
	left: 764px;
}
.part_12 {
	top: -549px;
	left: 94px;
}
.part_13 {
	top: -443px;
	left: -23px;
}
.part_14 {
	top: -515px;
	left: 770px;
}
.part_15 {
	top: -515px;
	left: 712px;
}
.part_16 {
	top: -554px;
	left: 663px;
}
.part_17 {
	top: -201px;
	left: 700px
}
.part_18 {
	top: -313px;
	left: -378px;
}
.part_19 {
	top: -494px;
	left: 318px;
}
.part_20 {
	top: -323px;
	left: 390px;
}
.part_21 {
	top: -524px;
	left: -372px;
}
.part_22 {
	top: -455px;
	left: -351px;
}
.bg_part {
	display: inline-block;
	position: relative;
	z-index: 1;
}
.bg_part-1 {
	top: -726px;
	left: 980px;
}
.bg_part-2 {
	top: -732px;
    left: -50px;
}
.phone_part {
	display: inline-block;
	position: relative;
}
.phone_part-1 {
	top: -1241px;
    left: 939px;
    z-index: 3;
}
.phone_part-2 {
	top: 0px;
	left: 0px;
	z-index: 4;
}*/
.defsets{
	position: relative;
	display: inline-block;
}
.parts_bg {
	z-index: -1;
	top: 79px;
    left: -297px;
    animation-name:parts-anim;
    animation-duration: 6s;
	animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.bg_part-1{
	top: -566px;
    left: 222px;
    animation-name:bg_part1-anim;
}
.bg_part {
	z-index: 2;
}
.bg_part-2 {
	top: -1164px;
    left: -213px;
    animation-name:bg_part2-anim;
}
.phone_part {
}
.phone_part-1 {
	z-index: 3;
	top: -1570px;
    left: 175px;
    animation-name:part1-anim;

}
.phone_part-2 {
	z-index: 4;
	top: -1916px;
    left: -239px;
    animation-name:part2-anim;
}
@keyframes parts-anim{
	0%{}
	50%{
		transform: translate(100px);
	}
	100%{
		transform: translate(0px);
	}
}
@keyframes bg_part1-anim{
	0%{}
	50%{
		transform: translate(0 ,-20px);
	}
	100%{
		transform: translate(0, 0px);
	}
}
@keyframes bg_part2-anim{
	0%{}
	50%{
		transform: translate(-20px, -20px);
	}
	100%{
		transform: translate(0,0);
	}
}
@keyframes part1-anim{
	0%{}
	50%{
		transform: translate(-10px ,20px);
	}
	100%{
		transform: translate(0,0);
	}
}
@keyframes part2-anim{
	0%{}
	50%{
		transform: translate(-10px);
	}
	100%{
		transform: translate(0,0);
	}
}
.works_bg{
	max-width: 1730px;
	background-color: #1C1C1C;
}
.works_inner {
	color:#fff;
}
.works_inner > p{
	color:#fff;
	background-color: #C60000;
	display: inline-block;
	margin-top: 75px;
}

.first_block {
	padding-top: 60px;
}
.first_block img{
	max-width: 100%;
	max-height: 395px;
}
.resource {
}
.scnd_block {
}
.scnd_block img{
	width: 100%;
	object-fit: cover;
}
.resource_big {
}
.thrd_block {
}
.thrd_block img{
	max-width: 100%;
	height: 395px;
}
.fourth_block {
}
.fourth_block img{
	height: 395px;
	max-width: 100%;
}
.pricelist_background {
	max-width: 1730px;
	background-color: #fff;
}
.pricelist {
	color: 	#333;
}
.pricelist > p{
	padding-top: 100px;
	margin-bottom: 18px;
	font-weight: 700;
}
.pricelist h2 span{
	color: #fff;
	background-color: #C60000;
}
.list {
	padding-top: 66px;
	padding-bottom: 100px;
}
.list div{
}
.list div h3{
	color:#fff;
	background-color: #C60000;
	display: inline-block;
	margin-bottom: 15px;
}
.cost {
	border-top: 1px solid #E0E0E0;
	padding-top: 34px;	
	font-size: 25px;
}
.cost span{
	font-size: 57px;
	font-weight: 700;
}
.description {
	padding-top: 18px;
	height: 130px;
}
.order_btn {
	text-align: center;
	background-color: #C60000;
	color: #fff;
	display: block;
	height: 60px;
	line-height: 60px;
}
.order_btn:hover{
	background-color: #439FDB;
	color: #fff;
	text-decoration: underline;
}
/*47n58*/
.order__img-wrap{
	background: url(../img/animations/Untitled-1.png) 0 58px no-repeat;
	transition: background 0.2s ease;
	/*background-size: contain;*/
	background-size: contain;
	display: flex;
	justify-content: center;
}
.order__img-wrap-hover{
	background: url(../img/animations/Untitled-2.png) 0 58px no-repeat !important;
	background-size: contain !important;
}

.order__img {
	max-width: 100%;
	position: relative;
	/*left: 28px;*/
}
.dev-stages_bg {
	height: 988px;
	max-width: 1730px;
	background-color: #1C1C1C;
}
.dev-stages {
	color: #fff;
}
.dev-stages > p{
	padding-top: 100px;
}
.stages_title img{
	display: inline-block;
	max-width: 100%;
}
.stages_title h3{
	display: inline-block;
	padding-left: 10px;
	line-height: 60px;
	font-size: 62px;
	margin: 0;
}
.stages_slider{
	padding-top: 78px;
}
.stage_img {
	max-width: 100%;
}
.stage_info {
	background-color: #fff;
	color: #000
}
.slider_stage {
	color: #E0E0E0;
	text-transform: uppercase;
	font-size: 29px;
	padding: 71px 0 29px 50px;
}
.slider_title {
	font-size: 29px;
	font-weight: 700;
	padding: 0 0 19px 50px;
}
.slider_text {
	max-width: 100%;
	padding: 0 50px;
}
.our_company_bg {
	max-width: 1730px;
	background-color: #fff;
}
.about-us {
	color: #000
}
.about-us > h3{
	color: #fff;
	font-size: 69px;
	font-weight: 700;
	display: inline-block;
	background-color: #C60000;
	padding-right: 30px;
	margin: 100px 0px 91px;
}
.about-us_info h6{
	font-size: 29px;
	font-weight: 700;
	margin-top: 40px;
}
.about-us_info h6 span{
	color: #C60000
}
.contact_us {
	font-weight: 700;
	font-size: 40px;
	color: #C60000;
	text-decoration: none;
}
.contact_us:hover{
	text-decoration: underline;
	color: #C60000;
}
.certificates{
	margin-left: 100px;
}
.image-link img{
	width: 140px;
}
.mfp-img{
	width: 500px !important;
}
.about-us_info{
}
.our_team {
	margin: 166px 0 118px;			
}
.our_team h3{
	font-weight: 700;	
	font-size: 69px;	
	color: #000;
	padding-bottom: 71px;
}
.our_team h3 span{
	color: 	#fff;
	padding-right: 30px;	
	background-color: #C60000;
}
.member_status {
	color: 	rgba(31,31,31,60%);
	margin: 0;	
}
.member_name {
	font-size: 24px;	
	font-weight: 700;
	margin: 0;	
}
.owl-prev{
	display: none !important;
}
.owl-next{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #fff !important;
	/*position: absolute;
	top: 10px;
	left: 100px;*/
}
.owl-next span{
	color: #000
}
.owl-nav{
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -692px;
}
.our_team .owl-next{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #1c1c1c !important;
	/*position: absolute;
	top: 10px;
	left: 100px;*/
}
.our_team .owl-next span{
	color: #fff;
}
.our_team .owl-nav{
	top: -745px;
}
.owl-next:hover{
	background-color: #c60000 !important;
}








































.footer_background{
	background-repeat: no-repeat;
	max-width: 1730px;
}
.footer{
	height: 728px;
	color: rgba(255, 255, 255, 0.6);
}
.footer a{
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}
.footer a:hover{
	text-decoration: underline;
}
.footer h3{
	padding-top: 90px;
	
	color: #fff;
}
.footer h3 span{
	background: #C60000;
}
.contact_number {
	margin-top: 109px;
	margin-left: 0px;
	height: 60px; 
	width: 791px;
}
.footer_info {
	margin-top: 137px;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	padding-top: 50px;
}
.social_bar{
}
.social {
	display: inline-block;
}
.call_me_btn{
	background-color: #C60000;
	font-size: 30px;
	color: #fff;
}
.call_me_btn:hover{
	text-decoration: underline;
}