@media (max-width: 1440px){

}
@media (max-width: 768px){
	.a-dn{
		display: none;
	}
	.a-db{
		display: block;
	}
	.a-flex{
		display: flex;
	}
	h1{
		font-size: 40px;
	}
	h6{
		font-size: 15px;
	}
	p{
		font-size: 12px;
	}

	.ordercall .phone{
		margin-top: 3px;
		font-weight: 600;
		font-size: 20px;
	}
	.social a+a{
		margin-left: 18px;
	}
	.mainpage .mybtn{
		font-size: 16px;
		padding: 8px 16px;
	}
	.porfoliobtn{
		font-size: 16px;
		margin-left: 10px;
	}
	.problems_bg p{
		font-size: 12px;
	}
	.problems_bg h5{
		font-size: 14px;
	}
	.problems_bg h6{
		font-weight: 600;
	}
	.second .wrapper{
		margin-top: 0;
	}
	.block-1, .block-2, .block-3, .block-4 {
		margin-top: 60px;
	}
	.freeconsult a{
		font-size: 16px;
	}
	.scnd_block-info{
		display: block;
	}
	.scnd_block h6{
		font-size: 28px;
	}
	.scnd_block p{
		font-weight: 400;
		font-size: 18px;
		width: 100%;
	}
	.scnd_block h6{
		font-size: 20px;
	}
	.pricelist h3{
		font-size: 15px !important;
	}
	.cost {
		font-weight: 700;
		font-size: 15px;
		margin-top: -3px;
		padding-top: 8px;
	}
	.cost span{
		font-size: 25px;
	}
}
@media (max-width: 320px){
	.mainlogo{
		width: 106px;
	}
	.a-dn-m{
		display: none;
	}
	.a-db-m{
		display: block;
	}

	.social {
		display: flex;
	}
	.menubtn{
		width: 25px;
		height: 21px;
		background-size: 80%;
		margin-left: 11px;
		margin-top: 5px;
	}
	h1{
		font-size: 30px;
	}
	h6{
		font-size: 12px;
	}
	p{
		font-size: 10px !important;
		line-height: 13px !important;
	}
	.mainpage .mybtn{
		font-size: 12px;
		z-index: 50;
	}
	.porfoliobtn{
		font-size: 16px;
		margin-left: 10px;
	}
	.col6tocol12{
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
	.freeconsult {
		margin: 0 !important;
		text-align: center;
	}
	.stages_title img{
		width: 70px;		
	}
	.stages_title h3{
		font-size: 20px;
		line-height: 20px;
	}
	.slider_title{
		font-size: 15px;
	}
	.stage_img {
		display: none;
	}
	.stage_info{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.about-us h3{
		font-size: 30px;
		margin: 10px 0;
	}
	.about-us_info{
		display: block;
	}
	.about-us_info .col-6{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.owl-next{
		display: none !important;
	}
	.contact_us{
		line-height: 25px;
		margin: 15px 0;
	}
	.contact_number{
		display: block;
	}
	.contact_number .col-7, .contact_number .col-5{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.contact_number .col-5{
		margin-top: 10px;
		max-width: 93%;
	}
	.enter__phone {
		margin-left: -15px;
	}
	.pricelist .list{
		display: block;
	}
	.pricelist .list .col-4{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.description {	
		height: 59px;
	}
}